<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"> 
  </node>
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 2.75 0 0 -1.75  world satellite1 100" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="-18 0 2.9 0 0 -1.75  world satellite2 100" />
  <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="-17.35 9.1 2.75 -3.14 0 -1.75  world satellite3 100" />
  <node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="-3 9.1 2.75 3.14 0 -1.69  world satellite4 100" />
  <node pkg="tf" type="static_transform_publisher" name="link5_broadcaster" args="-10 9.1 2.85 3.14 0 -1.72  world satellite5 100" />
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="link1_pcd_publisher" args="/home/ankitb/pointclouds/satellite1.pcd 1 _frame_id:=satellite1">
    <remap from="cloud_pcd" to="satellite1"/>
  </node>
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="link2_pcd_publisher" args="/home/ankitb/pointclouds/satellite2.pcd 1 _frame_id:=satellite2">
    <remap from="cloud_pcd" to="satellite2"/>
  </node>
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="link3_pcd_publisher" args="/home/ankitb/pointclouds/satellite3.pcd 1 _frame_id:=satellite3">
    <remap from="cloud_pcd" to="satellite3"/>
  </node>
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="link4_pcd_publisher" args="/home/ankitb/pointclouds/satellite4.pcd 1 _frame_id:=satellite4">
    <remap from="cloud_pcd" to="satellite4"/>
  </node>
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="link5_pcd_publisher" args="/home/ankitb/pointclouds/satellite5.pcd 1 _frame_id:=satellite5">
    <remap from="cloud_pcd" to="satellite5"/>
  </node>
</launch>
